<!-- Authore Profile -->
<div class="authoreprofile authoSm mt-0 mt-md-5 pt-0 pt-md-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="authoreproimg">
					<div class="authoreproimgBox">
						<img class="img-fluid d-none d-md-block cover-img mt-5" src="/public/images/subheader.jpg"
							 alt="img">
						<img class="img-fluid d-block d-md-none cover-md-img mt-5" src="/public/images/subheader.jpg"
							 alt="img">
					</div>
					<div class="authoreproicon"><img class="img-fluid" src="/public/images/author.jpg" alt="img"></div>
				</div>
				<div class="auProfileDetail">
					<!--<div class="joincommunity auSocial">-->

					<!--	<ul>-->
					<!--		<li><a href="#"><img class="img-fluid" src="img/activityicon.svg" alt="img"></a></li>-->
					<!--		<li><a href="#"><img class="img-fluid" src="img/discordbutton.svg" alt="img"></a></li>-->
					<!--		<li><a href="#"><img class="img-fluid" src="img/insta.svg" alt="img"></a></li>-->
					<!--		<li><a href="#"><img class="img-fluid" src="img/twitter.svg" alt="img"></a></li>-->
					<!--	</ul>-->

					<!--</div>-->
					<div class="prCnt">
						<div class="">
							<h2 class="textwhitecolor">{{profile.name}}</h2>
							<h3 class="textgraycolor mt-3 mb-4"><span
									class="textbluecolor">email:</span> {{profile.email}}
							</h3>
							<h3 class="textgraycolor mt-3 mb-4"><span
									class="textbluecolor">Điểm đánh giá tích cực:</span> {{profile.good}}
							</h3>
							<h3 class="textgraycolor mt-3 mb-4"><span
									class="textbluecolor">Điểm đánh giá tiêu cực:</span> {{profile.dislike}}
							</h3>
						</div>

						<!--<p class="textgraycolor">There are many variations of passages of Lorem Ipsum available, but<br> the majority have suffered alteration in some form, by injected</p>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popularCollection mt-3 pt-3 mt-md-4 pt-md-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tab-sec auTabing">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							{{#if (equal profile.UID authUser.UID)}}
								<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#TabOne">
									<i class="fa fa-gavel"></i>
									Đang đấu giá <span>{{count_array curBid}}</span></button>
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabTwo">
									<i class="fa fa-trophy"></i>
									Đấu giá thắng <span>{{count_array winBid}}</span></button>
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabThree">
									<i class="fa fa-heart"></i>
									Yêu thích <span>{{count_array watchList}}</span></button>
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabFour">
									<i class="fa fa-clock-o"></i>
									Lịch sử
								</button>
							{{/if}}

								<button class="nav-link {{#unless (equal profile.UID authUser.UID)}} active{{/unless}}" data-bs-toggle="tab" data-bs-target="#TabSix">
									<i class="fa fa-gavel"></i>
									Đánh giá
								</button>

							{{#if (equal profile.UID authUser.UID)}}
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabFive">
									<i class="fa fa-user"></i>
									Tài khoản
								</button>
							{{/if}}
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="TabOne">

							<div class="row mt-5">
								{{#each curBid}}
									<div class="col-md-6 col-xl-3 mb-4">
										<div class="aboutitem">
											<div class="aboutitemImg"><img class="img-fluid"
																		   src="/public/images/product/{{proID}}/thumb.png"
																		   alt="img">
											</div>
											<div class="bgdarkbluecolor aboutitemcnt">
												<div class="itemtitlecode">
													<h2 class="text-danger"><i class="fa fa-clock-o"></i> <span
															data-countdown='{{endDate}}'>{{endDate}}</span></h2>
													<h3 class="textwhitecolor"><a
															href="/product/detail/{{proID}}">{{proName}}</a></h3>
												</div>
												<div class="product-price mb-auto">
													<div class="card-content">
														<div class="card-content-value green-text">
															<i class="icon mx-2 fa fa-gavel"></i>
															<span class="current-bid">{{format_number price}}</span>
														</div>
														<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
													</div>
													<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
													</div>
												</div>
												<div class="buy-now-price">
													<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
														<span class="card-content-value">{{format_number buyNow}}</span>
													</div>
												</div>
												{{#if (is_new startDate)}}
													<span class="m-0 badge-new">>> Mới đăng {{format_new
															startDate}}</span>
												{{else}}
													<div class="createTime"><i>{{format_date startDate}}</i></div>
												{{/if}}

											</div>
										</div>
									</div>
								{{/each}}

							</div>

						</div>

						<div class="tab-pane fade" id="TabTwo">
							<div class="row mt-5">
								{{#each winBid}}
									<div class="col-md-6 col-xl-3 mb-4">
										<div class="aboutitem">
											<div class="aboutitemImg"><img class="img-fluid"
																		   src="/public/images/product/{{proID}}/thumb.png"
																		   alt="img">
											</div>
											<div class="bgdarkbluecolor aboutitemcnt">
												<div class="itemtitlecode">
													<h2 class="text-danger"><i class="fa fa-clock-o"></i> <span
															data-countdown='{{endDate}}'>{{endDate}}</span></h2>
													<h3 class="textwhitecolor"><a
															href="/product/detail/{{proID}}">{{proName}}</a></h3>
												</div>
												<div class="product-price mb-auto">
													<div class="card-content">
														<div class="card-content-value green-text">
															<i class="icon mx-2 fa fa-gavel"></i>
															<span class="current-bid">{{format_number price}}</span>
														</div>
														<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
													</div>
													<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
													</div>
												</div>
												<div class="buy-now-price">
													<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
														<span class="card-content-value">{{format_number buyNow}}</span>
													</div>
												</div>
												{{#if (is_new startDate)}}
													<span class="m-0 badge-new">>> Mới đăng {{format_new
															startDate}}</span>
												{{else}}
													<div class="createTime"><i>{{format_date startDate}}</i></div>
												{{/if}}

											</div>
										</div>
									</div>
								{{/each}}
							</div>
						</div>

						<div class="tab-pane fade" id="TabThree">

							<div class="row mt-5">
								{{#each watchList}}
									<div class="col-md-6 col-xl-3 mb-4">
										<div class="aboutitem">
											<div class="aboutitemImg"><img class="img-fluid"
																		   src="/public/images/product/{{proID}}/thumb.png"
																		   alt="img">
											</div>
											<div class="bgdarkbluecolor aboutitemcnt">
												<div class="itemtitlecode">
													<h2 class="text-danger"><i class="fa fa-clock-o"></i> <span
															data-countdown='{{endDate}}'>{{endDate}}</span></h2>
													<h3 class="textwhitecolor"><a
															href="/product/detail/{{proID}}">{{proName}}</a></h3>
												</div>
												<div class="product-price mb-auto">
													<div class="card-content">
														<div class="card-content-value green-text">
															<i class="icon mx-2 fa fa-gavel"></i>
															<span class="current-bid">{{format_number price}}</span>
														</div>
														<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
													</div>
													<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
													</div>
												</div>
												<div class="buy-now-price">
													<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
														<span class="card-content-value">{{format_number buyNow}}</span>
													</div>
												</div>
												{{#if (is_new startDate)}}
													<span class="m-0 badge-new">>> Mới đăng {{format_new
															startDate}}</span>
												{{else}}
													<div class="createTime"><i>{{format_date startDate}}</i></div>
												{{/if}}

											</div>
										</div>
									</div>
								{{/each}}
							</div>
						</div>

						<div class="tab-pane fade" id="TabFour">
							<div class="activityTable">
								<table>
									<tr>
										<th>Sản phẩm</th>
										<th></th>
										<th class=" text-end">Giá</th>
										<th class=" text-end">Thời gian</th>
									</tr>
									{{#each historyBid}}
										<tr class="mt-1">
											<td class="textwhitecolor offericon aboutitem aboutitemimages">
												<img class="img-fluid rounded-2"
													 src="/public/images/product/{{proID}}/thumb.png" alt="img">
											</td>
											<td class="textwhitecolor">
												<div class="actiCollect">
													<div class="actiCnt line-2">
														{{proName}}
													</div>
												</div>
											</td>
											<td class="textwhitecolor text-end">{{format_number price}}</td>
											<td class="textbluecolor text-end">{{format_date endDate}}</td>
										</tr>
									{{/each}}


								</table>


								<!-- <div class="activityData">
                                  <div  class="eventType textwhitecolor">
                                    <img src="img/handicon.svg" alt="img"> Offer
                                  </div>

                                  <div  class="activityItem">
                                    <div>
                                      <img class="img-fluid" src="img/activityItem01.svg" alt="img">
                                    </div>
                                    <div class="actiItemTitle">
                                      <span class="textgraycolor">Jungle Freaks</span>
                                      <strong class="textwhitecolor">Jungle Freaks by Trosley</strong>
                                    </div>
                                  </div>

                                  <div class="activityPrice textwhitecolor">
                                    <img class="img-fluid" src="img/priceicon.svg" alt="img">
                                    0,002
                                  </div>

                                  <div class="activityQty textwhitecolor">
                                    1
                                  </div>

                                  <div class="activityFrom textbluecolor">
                                    alphabet
                                  </div>

                                  <div class="activityTo textbluecolor">
                                    barbos2021
                                  </div>

                                  <div class="activityTime textbluecolor">
                                    20 seconds ago
                                  </div>

                                </div>
                                <div class="activityData">
                                  <div  class="eventType textwhitecolor">
                                    <img src="img/cart-icon.svg" alt="img"> Offer
                                  </div>

                                  <div  class="activityItem">
                                    <div>
                                      <img class="img-fluid" src="img/activityItem01.svg" alt="img">
                                    </div>
                                    <div class="actiItemTitle">
                                      <span class="textgraycolor">Jungle Freaks</span>
                                      <strong class="textwhitecolor">Jungle Freaks by Trosley</strong>
                                    </div>
                                  </div>

                                  <div class="activityPrice textwhitecolor">
                                    <img class="img-fluid" src="img/priceicon.svg" alt="img">
                                    0,002
                                  </div>

                                  <div class="activityQty textwhitecolor">
                                    1
                                  </div>

                                  <div class="activityFrom textbluecolor">
                                    alphabet
                                  </div>

                                  <div class="activityTo textbluecolor">
                                    barbos2021
                                  </div>

                                  <div class="activityTime textbluecolor">
                                    20 seconds ago
                                  </div>

                                </div> -->
							</div>

						</div>
						<div class="tab-pane fade justify-content-center" id="TabFive">
							<div class="sign-from signup-form m-auto">
								<form action="#" method="post">
									<div class="input-box">
										<input type="text" name="name" placeholder="Họ tên"
											   class="form-input" value="{{authUser.name}}">
									</div>
									<div class="input-box">
										<input type="text" name="address" placeholder="Địa chỉ"
											   class="form-input" value="{{authUser.addr}}">
									</div>
									<div class="input-box">
										<input type="text" name="dob" placeholder="Ngày sinh"
											   class="form-input" id="datepicker" value="{{format_dob authUser.dob}}">
									</div>
									<div class="input-box">
										<input type="password" name="curPass" placeholder="Mật khẩu hiện tại"
											   class="form-input">
									</div>
									<div class="row input-box">
										<div class="col-md-6">
											<input id="pass" type="password" name="newpass" placeholder="Mật khẩu mới"
												   class="form-input">
										</div>
										<div class="col-md-6">
											<input id="cpass" type="password" name="cpass"
												   placeholder="Xác nhận mật khẩu"
												   class="form-input">
										</div>
									</div>
									<button class="btn btnlightblue me-3 w-100" id="btnRegist" type="submit">
										Cập nhật thông tin
									</button>
								</form>
							</div>
						</div>
						<div class="tab-pane fade justify-content-center {{#unless (equal profile.UID authUser.UID)}} show active{{/unless}}" id="TabSix">
							{{#each feedback}}
								<div class="comment mb-2">
									<div class="commentor d-flex">
										<div class="thumb">
											<img src="/public/images/author.jpg" alt="">
										</div>
										<div class="name-rate ml-5">
											<div class="name">
												{{name}}
											</div>
											<div class="rate">
												{{#if (equal Type 1)}}
													<i class='bx bxs-like text-blue'></i>
												{{else}}
													<i class='bx bxs-dislike text-danger'></i>
												{{/if}}

											</div>
										</div>

									</div>
									<div class="product">
										<div class="row">
											<div class="pro-thumb col-4">
												<img src="/public/images/product/{{proID}}/thumb.png" alt="">
											</div>
											<div class="pro-name col-8">
												<a href="/product/detail/{{proID}}">{{proName}}</a>
											</div>
										</div>
									</div>
									<div class="comment-text">
										<div class="cmt">
											{{content}}
										</div>
										<a href="" class="more-btn">Xem thêm...</a>
										<a href="" class="less-btn d-none">Thu gọn...</a>
									</div>
									<div class="date">
										{{format_date sendTime}}
									</div>
								</div>
							{{/each}}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'js'}}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script src="/public/js/readmore.js"></script>
	<script>
		$(function () {
			$("#datepicker").datepicker();
			$("#datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
		});


	</script>
{{/section}}