<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
		<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet"
			  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link href="/public/css/base.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div class="nav" id="navbar">
			<div class="nav-container ">
				<ul class="nav-list">
					<li class="nav-item">
						<a class="nav-icon" href="">BIDUS</a>
					</li>
					<li class="nav-item">
						<a class="nav-item-link hover-underline-animation d-flex align-items-center" id="navbar-category" href="">
							<i class="bx bx-category bx-md" id="icon-category"></i>
							Danh mục
						</a>
						<ul class="menu">
							{{#each lcCategories}}
								<li class="menu-item">
								<a class="menu-item-link" href="{{this.catID}}">{{this.catName}}

									{{#if types}}
										<i aria-hidden="true" class="fa fa-chevron-right" style="font-size: 12px;"></i>
									</a>
										<ul class="sub-menu">
											{{#each types}}
												<li class="sub-menu-item">
													<a class="sub-menu-item-link" href="{{this.typID}}">{{this.typName}}</a>
												</li>
											{{/each}}
										</ul>
									{{else}}
										</a>
									{{/if}}
								</li>
							{{/each}}
						</ul>
					</li>
				</ul>
				<ul class="nav-list">
					<li class="nav-item">
						<a class="nav-item-link hover-underline-animation" href="">Trang chủ</a>
					</li>

					<li class="nav-item">
						<a class="nav-item-link hover-underline-animation" href="">Contact</a>
					</li>
				</ul>
				<ul class="search">
					<li class="search-item">
						<form action="" class="search-box">
							<input class="search-box-text" name="search" placeholder="Search.." type="text">
						</form>
						<i class="fa fa-search search-btn"></i>
					</li>
				</ul>
				<ul class="nav-list">
					<li class="nav-item">
						<a class="nav-item-link" href="">
							<i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
						</a>
						<ul class="menu menu-cart">
							<li class="menu-item cart-item">
								<div class="item-img">
									<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img-cart">
								</div>
								<div class="item-info">
									<div class="item-name">
										<p >Toyota 2019</p>
									</div>
									<div class="item-price">
										<p class="green-text">$300</p>
									</div>
								</div>
								<div>
									<button type="button" class="btn btn-danger close-btn">
										<i class="fa fa-times" aria-hidden="true"></i>
									</button>
								</div>
							</li>
						</ul>
					</li>
					{{#if lcAuth}}
						<li class="nav-item">
						<a class="nav-item-link" href="">
							<i aria-hidden="true" class="fa fa-user"></i>
							<i aria-hidden="true" class="fa fa-caret-down"></i>
						</a>
						<ul class="menu menu-account">
							<li class="menu-item">
								<a class="menu-item-link" href="">My Auction
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-item-link" href="">Account
								</a>
							</li>
						</ul>
					</li>
					{{else}}
						<li class="nav-item">
							<a class="signin-btn" href="/account/sign-in">
								<i class="fa fa-sign-in"></i> Đăng nhập
							</a>
						</li>

					{{/if}}

				</ul>
			</div>
			<div id="seperate"></div>
		</div>