<!doctype html>
<html lang="en">
	<head>
		<title>BIDUS</title>
		<meta charset="utf-8">
		<meta name="Googlebot-News" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">
		<meta name="robots" content="noimageindex">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" media="all" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" media="all" href="/public/css/slick.css">
		<link rel="stylesheet" media="all" href="/public/css/slick-theme.css">
		<link rel="stylesheet" media="all" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/main2.css">
		<link rel="stylesheet" href="/public/css/seller.css">
		<link rel="stylesheet" href="/public/css/category.css">
		<link rel="stylesheet" href="/public/css/detail_body.css">

		<meta name="theme-color" content="#sdfsf">
        {{{_sections.css}}}
	</head>
	<body class="themebgcolor">
		<div class="circlebg1"><img class="img-fluid" src="/public/images/circlebg19.svg" alt="img"></div>
		<div class="circlebg2"><img class="img-fluid" src="/public/images/circlebg20.svg" alt="img"></div>
		<div class="circlebg3"><img class="img-fluid" src="/public/images/circlebg21.svg" alt="img"></div>

		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 w-100 d-flex justify-content-between align-items-center">
						<div class="d-flex">
							<div class="logo"><a href="/" class="nav-icon">BIDUS</a></div>
							<nav class="ms-3 navbar navbar-expand-xl justify-content-between">

								<div class="collapse navbar-collapse" id="navbar-content">
									<div class="logo d-md-none"><a href="#"><img class="img-fluid"
																				 src="/public/images/cryptonlogo.svg"
																				 alt="img"></a></div>
									<div class="searchform d-md-none">
										<form>
											<input type="text" name="SearchItem"
												   placeholder="Search items, collections and creators">
											<button><img src="img/searchicon.svg" alt="img"></button>
										</form>
									</div>

									<ul class="navbar-nav mr-auto mb-2 mb-lg-0">

										<li class="nav-item dropdown active">
											<a class="nav-link dropdown-toggle ms-1 fs-6" href="#"
											   data-bs-toggle="dropdown"
											   data-bs-auto-close="outside">Danh mục</a>
											<ul class="dropdown-menu shadow">
												<!--<li><a class="dropdown-item"-->
												<!--	   href="category/">Tất cả</a></li>-->
												{{#each lcCategories}}
													<!--<li class="active"><a class="dropdown-item" href="homestyle1.html">Style-->
													<!--	1</a></li>-->
													<li><a class="dropdown-item"
														   href="/product/category/{{this.catID}}">{{this.catName}}</a></li>
												{{/each}}
											</ul>
										</li>

									</ul>
								</div>
							</nav>
							<div class="searchform flex-grow-1 flex-shrink-1 d-none d-md-inline-flex">
								<form>
									<div class="categori-style position-relative">
										<select class="nice-select-style" aria-label="Default select example">
											<option value="-1" selected>Tất cả</option>
											{{#each lcCategories}}
												<option value="{{this.catID}}">{{this.catName}}</option>
											{{/each}}
										</select>
									</div>
									<div class="w-100">
										<input type="text" name="SearchItem"
											   placeholder="Tìm kiếm sản phẩm">
									</div>

									<!--<button><img src="/public/images/searchicon.svg" alt="img"></button>-->
								</form>
							</div>
							<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#navbar-content">
								<div class="hamburger-toggle">
									<div class="hamburger">
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</button>
						</div>

						<div class="login d-none d-md-inline-flex">
							<div class="dropdown me-md-3 me-lg-2 me-xl-1 me-xxl-3">
								{{#if auth}}
									<a class="btn" href="/account/sign-in" role="button" id="dropdownMenuLink"
										data-bs-toggle="dropdown" aria-expanded="false">
										<img src="/public/images/usericon.svg" alt="img">
										<span class="text-light">Xin chào, {{getName authUser.name}}</span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<form id="frmLogout" action="/account/logout" method="post" hidden></form>
										{{#if (equal authUser.type 1)}}
											<li><a class="dropdown-item" href="/seller/">Quản lý bán hàng</a></li>
										{{/if}}
										{{#if (equal authUser.type 0)}}
											<li><a class="dropdown-item" href="/account/admin/">Admin</a></li>
											<li><a class="dropdown-item" href="/admin/">Quản lý bán hàng</a></li>
										{{/if}}
										<li><a class="dropdown-item" href="/account/profile/">Tài khoản</a></li>
										<li><a class="dropdown-item" href="javascript: $('#frmLogout').submit();">Đăng xuất</a></li>
									</ul>
								{{else}}
									<a class="btn" href="/account/sign-in">
										<img src="/public/images/usericon.svg" alt="img">
										<span class="text-light"> Đăng nhập</span>
									</a>
								{{/if}}


								<!--<a class="btn" href="/account/sign-in" role="button" id="dropdownMenuLink"-->
								<!--   data-bs-toggle="dropdown" aria-expanded="false">-->
								<!--	<img src="/public/images/usericon.svg" alt="img">-->
								<!--	<span class="text-light"> Đăng nhập</span>-->
								<!--</a>-->


							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
