<div class="popularCollection mt-3 pt-3 mt-md-4 pt-md-4 mt-lg-5 pt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="headingWh mb-2 mb-md-4">Danh sách sản phẩm đấu giá</h2>
				<div class="filters d-none d-md-block">
					<div class="filtertop">
						<div class="filterLeft">

							<div class="btn-group">
								<button class="filterbtn dropdown-toggle text-start" type="button"
										id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									{{selectedCate.catName}}
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{{#each lstCategories}}
										<li><a class="dropdown-item"
											   href="/product/category/{{this.catID}}">{{this.catName}}</a></li>
									{{/each}}
								</ul>
							</div>

							<div class="btn-group">
								<button class="filterbtn dropdown-toggle text-start" type="button"
										id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									Tất cả
								</button>

								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{{#each types}}
										<li><a class="dropdown-item" href="/product/category/{{../selectedCate.catID}}/{{this.typID}}">{{this.typName}}</a></li>
									{{/each}}
								</ul>
							</div>


							<div class="btn-group">
								<button class="filterbtn dropdown-toggle text-start" type="button"
										id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
									<li><a class="dropdown-item" href="#">Single items</a></li>
									<li><a class="dropdown-item" href="#">Bundles</a></li>
								</ul>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3 mt-md-5 align-items-stretch">
			{{#if (equal this.empty false)}}
				{{#each this.products}}
					<div class="col-md-6 col-xl-3 mb-4">
						<div class="aboutitem">
							<div class="aboutitemImg"><img class="img-fluid"
														   src="/public/images/product/{{proID}}/thumb.png"
														   alt="img"></div>
							<div class="bgdarkbluecolor aboutitemcnt">
								<div class="itemtitlecode">
									<h2 class="text-danger"><i class="fa fa-clock-o"></i> <span data-countdown='{{endDate}}' >{{endDate}}</span></h2>
									<h3 class="textwhitecolor"><a href="/product/detail/{{proID}}">{{proName}}</a></h3>
								</div>
								<div class="product-price mb-auto">
									<div class="card-content">
										<div class="card-content-value green-text">
											<i class="icon mx-2 fa fa-gavel"></i>
											<span class="current-bid">{{format_number startPrice}}</span>
										</div>
										<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">0 Lượt</span>
                                        </span>
									</div>
									<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">Bidder's Name</div>
                                        </span>
									</div>
								</div>
								<div class="buy-now-price">
									<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
										<span class="card-content-value">{{format_number buyNow}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
		<ul class="pagination justify-content-center">
			<li>
				<a href="" class="">
					<ion-icon name="arrow-back-outline"></ion-icon>
				</a>
			</li>
			{{#each pageNumbers}}
				{{#if this.isCurrent}}
					<li class="page-active">
						<a href="/product/category/{{../selectedCate.catID}}?page={{this.value}}" class="">
							{{this.value}}
						</a>
					</li>
				{{else}}
					<li>
						<a href="/product/category/{{../selectedCate.catID}}?page={{this.value}}" class="">
							{{this.value}}
						</a>
					</li>
				{{/if}}
			{{/each}}

			<li>
				<a href="" class="">
					<ion-icon name="arrow-forward-outline"></ion-icon>
				</a>
			</li>
		</ul>
		<div class="row d-block d-md-none">
			<div class="col-md-12 text-center">
				<button type="button" class="btn btnlightblue filterbtnsm" data-bs-toggle="modal"
						data-bs-target="#filterModal">Filter
				</button>
			</div>
		</div>
	</div>
</div>
