{{#section 'css'}}
    <link rel="stylesheet" href="/public/css/detail_body.css">
{{/section}}

{{#section 'js'}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> <script src="/public/js/detail_body.js"></script>
    <script src="https://cdn.tiny.cloud/1/zl91lwryeczyn2jhzji60m8ccauunch925epicw56btc5pa2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height : "350"
        });
        $('#bid-btn').click(function () {
           let amount =  $('#input-amount').val();
            $('#bid-amount').text(amount);
        });
    </script>
{{/section}}

<div class="body-content">
    <!-- Main product information start -->
    <div class="product-information-container container-fluid row">
        <div class="carousel col-lg-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style="border-radius: 10px">
                    <div class="carousel-item active">
                        <img src="/public/images/product/{{product.proID}}/thumb.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/images/product/{{product.proID}}/sub1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/images/product/{{product.proID}}/sub2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/images/product/{{product.proID}}/sub3.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="product-current-information col-lg-7">
            <div class="product-detail-heeader">
                <div class="product-detail-title mt-4">
                    <h2 class="product-title">
                        {{product.proName}}
                    </h2>
                </div>
                <ul class="seller-information account-information">
                    <li>
                        Người bán: {{product.name}}
                    </li>
                    <li>
                        {{product.good}}
                        <i class="fa fa-thumbs-o-up"></i>
                    </li>
                    <li>
                        {{product.dislike}}
                        <i class="fa fa-thumbs-o-down"></i>
                    </li>
                </ul>
            </div>
            <div class="product-detail-information row">
                <div class="price-table col-lg-6">
                    <div class="current-higest-bidder highest-price">
                        <h5 class="current-price-name">Giá hiện tại</h5>
                        <h3 class="current-price-value">{{format_number currentPrice.price}}</h3>
                    </div>
                    <div class="bidder-information account-information">
                        <div>Người mua: {{format_name currentPrice.name}}</div>
                        <div>
                            {{currentPrice.good}}
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <div>
                            {{currentPrice.dislike}}
                            <i class="fa fa-thumbs-o-down"></i>
                        </div>
                    </div>
                    <hr>
                    <div class="time-remaining">
                        <h5 class="auction-time auction-end-time-text">Còn lại</h5>
                        <p class=" auction-time auction-end-time-value">
                            <i class="fa fa-clock-o"></i>
                            <span data-countdown='{{product.endDate}}' >{{product.endDate}}</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="auction-time-container">
                        <h5 class="auction-time">Bắt đầu từ:</h5>
                        <h4 class="auction-time">{{format_date product.startDate}}</h4>
                        <hr>
                        <h5 class="auction-time">Kết thúc vào:</h5>
                        <h4 class="auction-time">{{format_date product.endDate}}</h4>
                        {{#if (equal product.autoExtend 1)}}
                            <div class="auction-time auto-extends container-fluid">
                                <i class="fa fa-question-circle-o"></i>
                                Thời gian của buổi đấu giá này sẽ tự động gia hạn
                            </div>
                        {{else}}
                            <div class="auction-time auto-extends container-fluid " style="color: #ebf2ff">
                                a
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if (equal authUser.UID product.ownerUID)}}
            {{else}}
            <div class="product-bid-area">
                <form id="bid-form" method="post" action="/product/detail/{{product.proID}}/bid" class="product-bid-form">
                    <div class="search-icon">
                        <img src="/public/images/bid.png" alt="product">
                    </div>
                    <div id="price-session" class="d-flex flex-column">
                        <p class="fst-italic fw-light text-danger px-4">{{approvedMsg}}</p>
                        <input id="input-amount" type="text" class="price-input bg-light mt-1" placeholder="Enter you maximum bid amount" name="price" {{#if blocked}}style="cursor: not-allowed" disabled{{/if}}>
                    </div>
                    <button id="bid-btn" type="submit" class="submit-bid-button auto-submit-bid-button" {{#if blocked}}style="cursor: not-allowed" disabled{{/if}}>Ra giá</button>
                </form>
            </div>
            <div class="mt-3 mb-2 row d-flex justify-content-around">
                <button type="submit" class="bottom-btt buy-now-button col-lg-5" {{#if blocked}}style="cursor: not-allowed" disabled{{/if}}>Mua ngay: {{format_number product.buyNow}}</button>
                <button type="submit" class="bottom-btt add-to-fav-button col-lg-5" {{#if blocked}}style="cursor: not-allowed" disabled{{/if}}>Thêm vào danh sách yêu thích</button>
            </div>
            {{/if}}
        </div>
    </div>
    <!-- Main product information end -->

    <div class="middle container-fluid row">
        <!-- Description start -->
        <div class="description-container container-fluid col-lg-8" style="margin-left: 0">
            <div class="description-content">
                <div class="d-flex justify-content-between align-items-center" style="padding-right: 2.5%">
                    <h1>Mô tả sản phẩm</h1>
                    {{#if (equal authUser.UID product.ownerUID)}}
                    <button id="open-modal-btn" class="btn-primary p-1 rounded-3">Bổ sung mô tả</button>
                    {{/if}}
                </div>
                {{#each description}}
                    <div class="mt-2 p-3">
                        <div>
                            <i class="fa fa-pencil text-primary"></i>
                            {{format_date dateDes}}
                        </div>
                        <div class="p-3">
                            {{{description}}}
                        </div>
                    </div>
                {{/each}}
            </div>
<!--            <p class="read-more"><a href="#" class="read-more-btn"></a></p>-->
        </div>
        <!-- Description end -->
        <div class="dashboard-widget col-lg-4">
            <div class="dashboard-purchasing-tabs">
                <ul class="nav-tabs nav">
                    <li>
                        <a href="#bid-his-tab" class="active" data-toggle="tab">Lịch sử đấu giá</a>
                    </li>
                    {{#if (equal authUser.UID product.ownerUID)}}
                        <li class = "participant">
                            <a href="#bidder-tab" data-toggle="tab">Người tham gia</a>
                        </li>
                    {{/if}}
                </ul>
                <div class="tab-content limit-height-tab">
                    <div class="tab-pane show active fade" id="bid-his-tab">
                        <table class="purchasing-table">
                            <thead>
                            <th>Thời điểm</th>
                            <th>Người mua</th>
                            <th>Giá</th>
                            </thead>
                            <tbody>
                            {{#each historyBid}}
                                <form action="/product/detail/:id/removeBidder"></form>
                                <tr>
                                    <td data-purchase="bid-time">{{format_date this.aucTime}}</td>
                                    <td data-purchase="bidder">{{format_name this.name}}</td>
                                    <td data-purchase="bid-price">{{format_number this.price}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{#if (equal authUser.UID product.ownerUID)}}
                    <div class="tab-pane fade" id="bidder-tab">
                        <table class="purchasing-table">
                            <thead>
                            <th>Người mua</th>
                            <th>Điểm đánh giá</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {{#each currentBidder}}
                                <tr>
                                    <td data-purchase="bidder">{{format_name this.name}}</td>
                                    <td data-purchase="rating-point">{{cal_rating_point this.good this.dislike}}</td>
                                    <td data-purchase="">
                                        <button  class="btn-outline-danger reject-btn p-1 rounded-3">Từ chối</button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>


    <!-- Related product start -->
    <div class="related-product-container">
        <h2 class="related-product-title">Các sản phẩm khác cùng chuyên mục</h2>
        <div class="LastAddedItems pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="lastAdded slider d-flex align-items-stretch">
                            {{#each relatePros}}
                                <div class="aboutitem">
                                    <div class="aboutitemImg"><img class="img-fluid"
                                                                   src="/public/images/product/{{proID}}/thumb.png"
                                                                   alt="img"></div>
                                    <div class="bgdarkbluecolor aboutitemcnt">
                                        <div class="itemtitlecode">
                                            <h2 class="text-danger"><i class="fa fa-clock-o"></i> <span data-countdown='{{endDate}}' >{{endDate}}</span></h2>
                                            <h3 class="textwhitecolor"><a href="/product/detail/{{proID}}">{{proName}}</a></h3>
                                        </div>
                                        <div class="product-price mb-auto">
                                            <div class="card-content">
                                                <div class="card-content-value green-text">
                                                    <i class="icon mx-2 fa fa-gavel"></i>
                                                    <span class="current-bid">{{format_number price}}</span>
                                                </div>
                                                <span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
                                            </div>
                                            <div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
                                            </div>
                                        </div>
                                        <div class="buy-now-price">
                                            <div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
                                                <span class="card-content-value">{{format_number buyNow}}</span>
                                            </div>
                                        </div>
                                        <div class="createTime"><i>{{format_date startDate}}</i></div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related product end -->
</div>
<div id="modal-box" class="w-100 h-100">
    <div id="modal-background" class="w-100 h-100"></div>
    <div id="description-modal" class="description-additional-form rounded-3">
        <h1 class="text-center mx-3 mt-3 mb-1">Bổ Sung Mô Tả</h1>
        <div class="description-form p-3">
            <form id="addDes-form" method="post" action="/product/detail/{{product.proID}}/addDes">
                <textarea id="mytextarea" name="desAddContent"></textarea>
            </form>
        </div>
        <div class="modal-bottom d-flex justify-content-end">
            <button id="cancel-add-des" class="modal-btn btn-danger rounded-3 px-3">Hủy</button>
            <a href="">
                <button form="addDes-form" class="modal-btn btn-primary rounded-3 px-2 mx-3">Thêm</button>
            </a>
        </div>
    </div>
    <div id = "bid-modal" class="description-additional-form rounded-3">
        <h1 class=" mx-3 mt-3 mb-1">Đồng ý ra giá
            <span id="bid-amount"></span>
            cho sản phẩm?</h1>
        <div class="form-btn d-flex justify-content-end">
            <div class="row">
                <button form="bid-form" class="btn btn-success col-3">Đồng ý</button>
                <button class="btn btn-danger col-3">Hủy</button>
            </div>
        </div>
    </div>
    <div id = "reject-modal" class="description-additional-form rounded-3">
        <h1 class=" mx-3 mt-3 mb-1">
            Từ chối bidder này?
        </h1>
        <div class="form-btn d-flex justify-content-end">
            <div class="row">
                <button form="reject-form" class="btn btn-success col-3">Đồng ý</button>
                <button class="btn btn-danger col-3">Hủy</button>
            </div>
        </div>
    </div>
</div>