<div class="body-intro">
	<div class="circlebg1"><img class="img-fluid" src="/public/images/circlebg19.svg" alt="img"></div>
	<div class="circlebg2"><img class="img-fluid" src="/public/images/circlebg20.svg" alt="img"></div>
	<div class="circlebg3"><img class="img-fluid" src="/public/images/circlebg21.svg" alt="img"></div>
	<div class="intro-bg">
		<img src="public/images/intro.png" class="intro-img" alt="">
	</div>
	<div class="intro-text">
		<h2>Auction won, Dream go on</h2>
		<p>LET'S MAKE A BID</p>
		<h5>Online Auction is where everyone goes to shop, sell,and give, while discovering variety and
			affordability.</h5>
		<button type="button" class="btn btn-warning start-btn w-25">Get start</button>

	</div>
</div>
<!-- top 5 sp gan ket thuc -->
<div class="LastAddedItems pt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="headingWh mb-3 mb-sm-3 mb-md-4 mb-xl-5">Top 5 sản phẩm gần kết thúc</h2>
				<div class="lastAdded row slider d-flex align-items-stretch">
					{{#each list5End}}
						<div class="aboutitem col-md-3">
							<div class="aboutitemImg">
								<img class="img-fluid" src="/public/images/product/{{proID}}/thumb.png" alt="img">

							</div>
							<div class="bgdarkbluecolor aboutitemcnt">
								<div class="itemtitlecode">
									<div class="w-100">
										<h2 class="text-danger w-auto d-inline-block"><i class="fa fa-clock-o "></i>
											<span
													data-countdown='{{endDate}}'>{{endDate}}</span></h2>
										<a class="float-end text-danger like-btn" data-pro="{{proID}}"
										   data-user="{{../authUser.UID}}">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
										</a>
										<a class="float-end text-danger dislike-btn d-none" data-pro="{{proID}}"
										   data-user="{{../authUser.UID}}">
											<i class="fa fa-heart" aria-hidden="true"></i>
										</a>
									</div>
									<h3 class="textwhitecolor"><a href="/product/detail/{{proID}}">{{proName}}</a></h3>
								</div>
								<div class="product-price mb-auto">
									<div class="card-content">
										<div class="card-content-value green-text">
											<i class="icon mx-2 fa fa-gavel"></i>
											<span class="current-bid">{{format_number price}}</span>
										</div>
										<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
									</div>
									<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
									</div>
								</div>
								<div class="buy-now-price">
									<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
										<span class="card-content-value">{{format_number buyNow}}</span>
									</div>
								</div>
								{{#if (is_new startDate)}}
									<span class="m-0 badge-new">>> Mới đăng {{format_new startDate}}</span>
								{{else}}
									<div class="createTime"><i>{{format_date startDate}}</i></div>
								{{/if}}

							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- top 5 sp nhieu luot ra gia nhat -->
<div class="LastAddedItems pt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="headingWh mb-3 mb-sm-3 mb-md-4 mb-xl-5">Top 5 sản phẩm có nhiều lượt ra giá nhất</h2>
				<div class="lastAdded row slider d-flex align-items-stretch">
					{{#each list5Bid}}
						<div class="aboutitem col-md-3">
							<div class="aboutitemImg"><img class="img-fluid"
														   src="/public/images/product/{{proID}}/thumb.png"
														   alt="img">
							</div>
							<div class="bgdarkbluecolor aboutitemcnt">
								<div class="itemtitlecode">
									<div class="w-100">
										<h2 class="text-danger w-auto d-inline-block"><i class="fa fa-clock-o "></i>
											<span
													data-countdown='{{endDate}}'>{{endDate}}</span></h2>
										<a class="float-end text-danger like-btn" data-pro="{{proID}}"
										   data-user="{{../authUser.UID}}">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
										</a>
										<a class="float-end text-danger dislike-btn d-none" data-pro="{{proID}}"
										   data-user="{{../authUser.UID}}">
											<i class="fa fa-heart" aria-hidden="true"></i>
										</a>
									</div>
									<h3 class="textwhitecolor"><a href="/product/detail/{{proID}}">{{proName}}</a></h3>
								</div>
								<div class="product-price mb-auto">
									<div class="card-content">
										<div class="card-content-value green-text">
											<i class="icon mx-2 fa fa-gavel"></i>
											<span class="current-bid">{{format_number price}}</span>
										</div>
										<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
									</div>
									<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
									</div>
								</div>
								<div class="buy-now-price">
									<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
										<span class="card-content-value">{{format_number buyNow}}</span>
									</div>
								</div>
								{{#if (is_new startDate)}}
									<span class="m-0 badge-new">>> Mới đăng {{format_new startDate}}</span>
								{{else}}
									<div class="createTime"><i>{{format_date startDate}}</i></div>
								{{/if}}

							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- top 5 sp co gia cao nhat -->
<div class="LastAddedItems pt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="headingWh mb-3 mb-sm-3 mb-md-4 mb-xl-5">Top 5 sản phẩm có giá cao nhất</h2>
				<div class="lastAdded row slider d-flex align-items-stretch">
					{{#each list5Price}}
						<div class="aboutitem col-md-3">
							<div class="aboutitemImg"><img class="img-fluid"
														   src="/public/images/product/{{proID}}/thumb.png"
														   alt="img">

							</div>
							<div class="bgdarkbluecolor aboutitemcnt">
								<div class="itemtitlecode">
									<div class="w-100">
										<h2 class="text-danger w-auto d-inline-block"><i class="fa fa-clock-o "></i>
											<span
													data-countdown='{{endDate}}'>{{endDate}}</span></h2>
										<a class="float-end text-danger like-btn" data-pro="{{proID}}"
										   data-user="{{../authUser.UID}}">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
										</a>
										<a class="float-end text-danger dislike-btn d-none" data-pro="{{proID}}"
										   data-user="{{../authUser.UID}}">
											<i class="fa fa-heart" aria-hidden="true"></i>
										</a>
									</div>

									<h3 class="textwhitecolor"><a href="/product/detail/{{proID}}">{{proName}}</a></h3>
								</div>
								<div class="product-price mb-auto">
									<div class="card-content">
										<div class="card-content-value green-text">
											<i class="icon mx-2 fa fa-gavel"></i>
											<span class="current-bid">{{format_number price}}</span>
										</div>
										<span>
                                            <span class="card-content-value textgraycolor">Đã đấu</span>
                                            <span class="total-bids">{{BidCount}} Lượt</span>
                                        </span>
									</div>
									<div class="card-content">
                                        <span class="card-content-value blue-text">
                                            <i class="icon mx-2 fa fa-user"></i>
                                            <div class="current-bid">{{format_name name}}</div>
                                        </span>
									</div>
								</div>
								<div class="buy-now-price">
									<div class="card-content">
                                        <span class="card-content-value red-text">
                                            <i class="icon mx-2 fa fa-shopping-cart"></i>
                                            <div class="current-bid">Mua ngay</div>
                                        </span>
										<span class="card-content-value">{{format_number buyNow}}</span>
									</div>
								</div>
								{{#if (is_new startDate)}}
									<span class="m-0 badge-new">>> Mới đăng {{format_new startDate}}</span>
								{{else}}
									<div class="createTime"><i>{{format_date startDate}}</i></div>
								{{/if}}

							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

